#canvas {
    border: 1px solid black;
    cursor: crosshair;
}

.card {
    border: 1px solid black;
}

.image-container {
    display: inline-block;
    background-image: url('/static/check.jpg');
    background-repeat: repeat;
}

.centered-div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.centered-div .child {
    flex: 1;
    margin: 0 10px;
}

.form-container {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}